<h2>Edit Historical Landmark</h2>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <label name="_method" value="put">
  <label for="landmark[name]">Name: </label>
  <input name="landmark[name]" id="name" value="<%= @landmark.name %>" type="text"><br>
  <label for="landmark[year_completed]">Year completed: </label>
  <input name="landmark[year_completed]" id="landmark_year_completed" value="<%= @landmark.year_completed %>" type="text"><br>
  <input type="submit" value="Edit Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
