<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  <label for="landmark[name]">Name: </label>
  <input name="landmark[name]" id="landmark_name" type="text"><br>
  <label for="landmark[year_completed]">Year completed: </label>
  <input name="landmark[year_completed]" id="landmark_year_completed" type="text"><br>
  <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
