<h2>Create New Figure</h2>

<form action="/figures" method="post">
  <label for="figure[name]">Name: </label>
  <input name="figure[name]" type="text"><br>
  Titles:<br>
  <% @titles.each do |title| %>
    <input type="checkbox" value="<%= title.id %>" name="figure[title_ids][]"><%= title.name %><br>
  <% end %>
  <input id="submit" type="submit">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
