<table>
  <tr>
    <th>Name</th>
    <th>Titles</th>
    <th>Locations</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td>
      <ul>
        <% @figure.titles.each do |title| %>
          <li><%= title.name %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <ul>
        <% @figure.landmarks.each do |landmark| %>
          <li><%= landmark.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
